@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Headland+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main_color: #26C7EA;
    --text_color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

/* ==============================header================================== */
.header_wrap {
    background-color: #2B4A61DE;
    height: 150px;
    width: 1440px;
    border-bottom: 3px solid var(--text_color);
}

.info {
    gap: 213px;
    justify-content: center;
    align-items: center;
    padding-top: 23px;
}

.menu {
    gap: 40px;
}

.menu a {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    color: var(--text_color);
}

li:nth-child(1) a {
    color: var(--main_color);
    font-weight: 600;
}

.login {
    gap: 50px;
    align-items: center;
}

.button{
    width: 141px;
    height: 42px;
    background-color: var(--main_color)
}

.btn{
    padding-left: 38px;
    font-family: "Headland One", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    color: #0B0E66;
}

.lang {
    gap: 10px;
}

.lang p {
    font-family: "Hammersmith One", sans-serif;    
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text_color);
}

.burger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.burger span{
    width: 25px;
    height: 3px;
    background-color: var(--main_color);
}

/*============================================sec1================================= */
.sec1_wrap{
    height: 740px;
    background-image: url(/практика/images/Group\ 48\ 1.png);
}

.text p{
    width: 376px;
    font-family: "Inter", sans-serif;   
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: var(--text_color);
}

.text p:nth-child(1){
    position: absolute;
    left: 100px;
    top: 248px;
}

.text p:nth-child(2){
    position: absolute;
    left: 301px;
    top: 370px;
}

.button2{
    position: absolute;
    left: 152px;
    top: 446px;
    width: 260px;
    height: 80px;
    background-color: #0B0E66;
    border: 3px solid var(--main_color);
}

.btn2{
    padding-left: 64px;
    font-family: "Headland One", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 73px;
    color: var(--main_color);
}

.soc_media{
    gap: 25px;
    position: absolute;
    right: 100px;
    top: 659px;
}

/* =================================tablet======================= */
@media (max-width:768px){
    /* ==========================burger======================= */
    .menu{
        display: none;
        position: absolute;
        left: 380px;
        top: 27px;
        gap: 10px;
        flex-direction: column;
    }

    .login{
        display: none;
        position: absolute;
        left: 520px;
        top: 27px;
        flex-direction: column;
    }
    .lang{
        display: none;
    }
    .lang p{
        margin-top: -35px;
    }
    .img1{
        position: absolute;
        left: -45px;
        top: 57px;
    }
    .info img{
        position: absolute;
        left: 100px;
        top: 27px;
    }
    .burger{
        display: flex;
        position: absolute;
        left: 40px;
        top: 35px;
        display: flex;
    }

    /* ======================================sec1===================================== */
    .soc_media{
        gap: 20px;
        position: absolute;
        left: 100px;
        top: 659px;
    }
}

.hidden{
    display: flex;
}